.statistic-card {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    padding: 20px;
    margin: 10px 0;
    background-color: #efeef8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(142, 32, 32, 0.1);
    position: relative;
    height: 200px; 
    width: 200px;
}

.card-title {
    font-size: 40px; 
    color: #000000; 
    margin-bottom: 10px; 
}

.card-value {
    font-size: 20px; 
    font-weight: bold; 
    color: #000; 
}

.statistic-card::before {
    content: ""; 
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px; 
    background-color: #FFCDEA;
    border-radius: 0 15px 0 15px; 
}
